
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.youtube {
    transition: transform 3s;
}

.youtube:hover {
 transform: rotate(360deg);
}


.clock{
    margin-top: 300px;
    margin-left: -450px;
}